.App {
  text-align: center;
  justify-content: flex-end;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

button {
  margin: 20px;
  cursor: pointer;
  white-space: nowrap;  
}


.no-button {
  min-width: 40px;    
  max-height: 20px;   
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 200px;
  margin: 20px auto;
}

